<header>
  <div class="logo">
    <h1>::Blog</h1>
  </div>
  <div  class="user_info">
    <ul>
      <li id="sign_in">ログイン</li>
      <li id="sign_out">ログアウト</li>
      <li id="sign_up">新規登録</li>
    </ul>
  </div>
</header>
<main>
  <div class="blog_box clearfix">
    <ul>
      <li>
        <h2 class="blog_title">
          今日のブログ
        </h2>
        <p class ="blog_time">2000/12/12</p>
        <p class="blog_text">テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
        <ul class="contents">
          <li id="show" >詳細</li>
          <li id="edit">編集</li>
          <li id="delete">削除</li>
        </ul>
      </li>
    </ul>

  </div>
</main>
<footer>

</footer>
