header {
  background:#6BA100;
  color: #F0F0F0;
  width: 100%;
  height: 100px;
  position: relative;
  .logo {
    float: left;
    margin: 0 50px;
    h1{
      font-size: 40px;
      line-height: 100px;
      display: inline-block;
    }
  }
  .user_info {
    position: absolute;
    top: 30px;
    right: 20px;
    li {
      float: right;
      background: #556b2f;
      color: #ffffff;
      margin: 0 10px;
      padding: 10px 30px;
      display: block;
      border-radius: 10px;
      box-shadow:7px 6px 6px -1px #ffffff;
      border: 1px solid #BAD4A1;
      &:active {
        box-shadow: none;
        margin-top: 5px;
        cursor: pointer;
      }
    }
  }
}




